//colors
$colors-map: (
  btn-color-1: #0e6cff,
  btn-color-2: #ff8700,
  btn-color-3: #4caf50,
);

$bg-hero: #640fc5;
$text-color: #f4f4f4;

//font
$basic-font-size: 1.2em;
$basic2-font-size: 1.5em;
$title2-font-size: 2em;
$title-font-size: 2.4em;

//spaziature
$padding-map: (
  padding-normal: 1em,
);

$margin-map: (
  margin-normal: 1em,
);
